<!DOCTYPE html>
<html translate="no">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
        integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.prod.min.js"></script>
    <title>Availab.ly - Movie availablility checker</title>
    <link rel="stylesheet" href="style/compiled.css">
    <meta name="google" content="notranslate">
</head>

<body>

    <div class="main" id="app">

        <div style="display: none;">
            {{ streaming_availability }}
        </div>


        <img src="assets/film.png" alt="" class="logo-icon">
        <h1 class="logo-text">Availab.ly</h1>
        <h4 class="logo-subheading">Find the streaming services for your favourite movies</h4>

        <div class="search-box-container flex">
            <input type="text" placeholder="Search by title..." :value="search_text"
                @input="ev => search(ev)">
            <div class="v-center">
                <img src="assets/search.svg" alt="" class="search-icon">
            </div>
        </div>

        <div class="h100 movie-cards-container">
            <div class="movie-cards flex">

                <template v-for="movie in (search_text.length > 0 ? search_results : trending_movies)">

                    <div :class="{ 'movie-card': true, flipped: active_movie==movie.tmdb_id }" @click="clickMovie(movie.tmdb_id)">
                        <div class="side front">
                            <div class="bg-img" :style="{'background-image': 'url(' + movie.poster_img + ')'}">
                                <div class="card-info">
                                    <div class="inner">
                                        <h2>{{ movie.name }}</h2>
                                        <div class="flex">
                                            <h3 class="year">{{ movie.release_year }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side back">
                            <div class="bg-img" :style="{'background-image': 'url(' + movie.poster_img + ')'}">
                            </div>
                            <div class="card-info fullheight">

                                <div class="backdrop-container">
                                    <img :src="movie.backdrop_img" alt="" class="backdrop">
                                    <div class="rating-bubble flex">
                                        <div class="v-center">
                                            <img src="assets/thumbs-up.svg" alt="" class="inline-icon">
                                        </div>
                                        <div class="v-center">
                                            <p>{{ movie.rating }}%</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="inner">
                                    <h2>{{ movie.name }}</h2>
                                    <div class="flex">
                                        <h3 class="year">{{ movie.release_year }}</h3>
                                    </div>

                                    <h3 class="description">{{ movie.description }}</h3>

                                    <img v-if="!streaming_availability.hasOwnProperty(movie.tmdb_id)" src="assets/loader-white.png" alt="" class="inline-icon loader">

                                    <template v-else>

                                        <div class="stream-options-section">
                                            <div class="stream-button flex" v-for="service in streaming_availability[movie.tmdb_id]['stream']" @click="openLinkNewTab(streaming_availability[movie.tmdb_id].link)">
                                                <div class="v-center">
                                                    <img src="assets/play.svg" alt="" class="inline-icon">
                                                </div>
                                                <div class="v-center">
                                                    <p>Stream on {{ service.name }}</p>
                                                </div>
                                            </div>

                                            <div class="streaming-unavailable" v-if="streaming_availability[movie.tmdb_id]['stream'].length == 0">
                                                <img src="assets/frown.svg" alt="" class="inline-icon">
                                                <p>No streaming services available in your country</p>
                                            </div>

                                        </div>

                                        <div class="stream-options-section" v-if="streaming_availability[movie.tmdb_id]['rent'].length > 0 || streaming_availability[movie.tmdb_id]['buy'].length > 0">
                                            <h5>Alternative options</h5>

                                            <div class="stream-button flex" v-for="service in streaming_availability[movie.tmdb_id]['rent']" @click="openLinkNewTab(streaming_availability[movie.tmdb_id].link)">
                                                <div class="v-center">
                                                    <img src="assets/dollar-sign.svg" alt="" class="inline-icon">
                                                </div>
                                                <div class="v-center">
                                                    <p>Rent on {{ service.name }}</p>
                                                </div>
                                            </div>
                                            <div class="stream-button flex" v-for="service in streaming_availability[movie.tmdb_id]['buy']" @click="openLinkNewTab(streaming_availability[movie.tmdb_id].link)">
                                                <div class="v-center">
                                                    <img src="assets/dollar-sign.svg" alt="" class="inline-icon">
                                                </div>
                                                <div class="v-center">
                                                    <p>Buy on {{ service.name }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="stream-options-section" v-if="streaming_availability[movie.tmdb_id]['rent'].length == 0 && streaming_availability[movie.tmdb_id]['stream'].length == 0 && streaming_availability[movie.tmdb_id]['buy'].length == 0 && streaming_availability[movie.tmdb_id]['alt_countries'].length > 0">
                                            <h5><b>Available in:</b> {{ streaming_availability[movie.tmdb_id]['alt_countries'].map((c) => iso_countries[c]).join(', ') }}</h5>
                                        </div>


                                    </template>


                                </div>
                            </div>
                        </div>
                    </div>

                </template>

            </div>
        </div>

        <script src="script/index.js"></script>
        <script src="script/movies.js"></script>
</body>

</html>
