$black-100: #1A1919;
$black-90: #252525;
$black-80: #333333;
$black-70: #4D4D4D;
$black-60: #666666;
$black-50: #808080;
$black-40: #A5A5A5;
$black-30: #C9C9C9;
$black-20: #DEDEDE;
$black-15: #EDEDED;
$black-10: #F6F6F6;
$black-00: #FFFFFF;

$movie-card-transition: 0.85s;

*{
    margin: 0px;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center{
    display: flex;
    justify-content: center;
}

body{
    background-color: $black-90;
    font-family: 'Inter', sans-serif;
}

.main{
    margin: 50px;
    text-align: center;
}

.logo-icon{
    height: 100px;
    user-select: none;
}

.logo-text{
    color: $black-10;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 500;
    user-select: none;
    margin-bottom: 15px;
}

.logo-subheading{
    margin-bottom: 40px;
    color: $black-15;
    font-weight: 400;
}

.search-box-container{
    background-color: $black-15;
    width: fit-content;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 0px 20px;
    border-radius: 3px;

    .search-icon{
        height: 18px;
        user-select: none;
    }

    input{
        background-color: transparent;
        border: none;
        outline: none;
        color: $black-90;
        font-size: 15px;
        padding: 15px 0px;
        padding-right: 130px;

        &::placeholder{
            color: $black-50;
            user-select: none;
        }
    }
}

.movie-cards-container{
    max-width: 1800px;
    margin: 0px auto;
}

.movie-cards{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .movie-card{
        height: 450px;
        width: 300px;
        position: relative;
        transition: filter 0.5s, transform 0.5s;
        flex-shrink: 0;
        margin: 18px;
        perspective: 500px;
        user-select: none;

        .side{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            transform: rotateY(0deg);
            backface-visibility: hidden;
            transition: transform $movie-card-transition;
            transform-style: preserve-3d;
            border-radius: 6px;
            overflow: hidden;

            &.back{
                transform: rotateY(180deg);
            }
        }

        &:not(.flipped){
            cursor: pointer;

            &:hover{
                filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.15));
                transform: scale(1.06);
            }
        }

        &.flipped{

            .side.back{
                transform: rotateY(0deg);
            }

            .side.front{
                transform: rotateY(-180deg);
            }

            .card-info{
                backdrop-filter: blur(10px);
            }
        }

        .bg-img{
            background-color: $black-100;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }

        .card-info{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            text-align: left;
            background: linear-gradient(transparent,rgba($black-100,0.9));
            transition: backdrop-filter $movie-card-transition;

            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            .inner{
                padding: 12px 15px;
                padding-top: 60px;
            }

            img.backdrop{
                width: 100%;
                min-height: 168px;
            }

            .backdrop-container{
                position: relative;

                .rating-bubble{
                    position: absolute;
                    bottom: 4px;
                    right: 15px;
                    transform: translateY(50%);
                    padding: 5px 10px;
                    border-radius: 10000px;

                    border: 1px solid rgba($black-70,0.8);
                    background-color: rgba($black-90,0.8);
                    color: $black-15;
                    font-weight: 300;
                    letter-spacing: 1.2;

                    p{
                        margin-left: 5px;
                    }

                }
            }

            .stream-options-section{
                margin-top: 12px;

                h5{
                    margin-top: 25px;
                    margin-bottom: 10px;
                    color: $black-00;
                    font-weight: 400;
                    color: $black-20;
                }
            }

            &.fullheight{
                .inner{
                    padding-top: 12px;
                }
                height: 100%;
                background: rgba($black-100,0.6);
            }

            h2{
                color: $black-00;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 1px;
            }

            h3.year{
                color: $black-30;
                font-weight: 300;
                font-size: 15px;
            }

            h3.description{
                font-size: 13px;
                font-weight: 400;
                color: $black-20;
                margin-top: 5px;
                line-height: 1.4em;
                font-style: italic;
            }

        }
    }
}

.inline-icon{
    height: 1em;
    width: 1em;
}

.subtitle{
    color: $black-00;
    font-size: 20px;
    font-weight: 400;

    h3{
        font-weight: 400;
    }

    .inline-icon{
        margin-right: 3px;
        height: 1.2em;
        width: 1.2em;
    }
}

.offset-subtitle{
    margin-left: 18px;
}

.stream-button{
    background-color: $black-10;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
    color: $black-100;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;

    p{
        margin-left: 4px;
    }

    &:hover{
        background-color: $black-20;
        cursor: pointer;
    }
}

.loader{
    margin: 20px auto;
    display: block;
    font-size: 1.5em;
    animation: loader_spin 1s infinite linear;
}

@keyframes loader_spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.streaming-unavailable{
    font-size: 12px;
    color: $black-30;
    text-align: center;
    margin-top: 30px;
    margin: 0px 10px;

    img.inline-icon{
        font-size: 1.8em;
        margin-bottom: 4px;
    }
}
