$black-100: #1A1919;
$black-90: #252525;
$black-80: #333333;
$black-70: #4D4D4D;
$black-60: #666666;
$black-50: #808080;
$black-40: #A5A5A5;
$black-30: #C9C9C9;
$black-20: #DEDEDE;
$black-15: #EDEDED;
$black-10: #F6F6F6;
$black-00: #FFFFFF;

*{
    margin: 0px;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-center{
    display: flex;
    justify-content: center;
}

body{
    background-color: $black-90;
    font-family: 'Inter', sans-serif;
}

.main{
    margin: 50px;
    text-align: center;
}

.logo-icon{
    height: 50px;
    user-select: none;
}

.logo-text{
    color: $black-10;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 500;
    user-select: none;
    margin-bottom: 40px;
}

.search-box-container{
    background-color: $black-15;
    width: fit-content;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 0px 15px;
    border-radius: 7px;

    .search-icon{
        height: 18px;
        cursor: pointer;
        user-select: none;
    }

    input{
        background-color: transparent;
        border: none;
        outline: none;
        color: $black-90;
        font-size: 15px;
        padding: 13px 0px;
        padding-right: 55px;

        &::placeholder{
            color: $black-50;
            user-select: none;
        }
    }
}

.movie-card-container{
    max-width: 1800px;
}

.movie-cards{
    width: 80vw;
    flex-wrap: wrap;
    width: 100%;

    .movie-card{
        height: 350px;
        width: 200px;
        position: relative;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.1));
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        transition: filter 0.2s;
        flex-shrink: 0;
        margin: 18px;
        perspective: 1000px;

        &:hover{
            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
        }

        .bg-img{
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }

        .card-info{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            text-align: left;
            padding: 10px 15px;
            background-color: rgba($black-100,0.2);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            h2{
                color: $black-00;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 1px;
            }

            h3.year{
                color: $black-30;
                font-weight: 300;
                font-size: 15px;
            }
        }
    }
}

.inline-icon{
    height: 1em;
    width: 1em;
}

.subtitle{
    color: $black-00;
    font-size: 20px;
    font-weight: 400;

    h3{
        font-weight: 400;
    }

    .inline-icon{
        margin-right: 3px;
        height: 1.2em;
        width: 1.2em;
    }
}

.offset-subtitle{
    margin-left: 18px;
}
